<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Monitor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>
  </head>
    <title>Monitor</title>
  </head>
  <body>
    <h1>Monitor</h1>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
