{% extends "base.html" %}

{% block content %}
    <h2>Configure Climate Monitor</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.ssid.label }}<br>
            {{ form.ssid(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.ip_address.label }}<br>
            {{ form.ip_address(size=32) }}
        </p>
        <p>{{ form.submit(class="butn") }}</p>
    </form>
    <hr>
    <a class = "href_main_config" href="{{ url_for('dev_config_page') }}">Device Configuration Page</a>
{% endblock %}
